<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>SalvarCategoriaServlet</servlet-name>
        <servlet-class>controle.tipo.SalvarTipoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controle.acesso.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirClienteServlet</servlet-name>
        <servlet-class>controle.cliente.InserirClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controle.acesso.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarUsuarioServlet</servlet-name>
        <servlet-class>controle.cliente.AtualizarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverUsuarioServlet</servlet-name>
        <servlet-class>controle.cliente.RemoverClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerUsuarioServlet</servlet-name>
        <servlet-class>controle.cliente.VerClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCategoriasServlet</servlet-name>
        <servlet-class>controle.tipo.ListarTiposServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverCategoriaServlet</servlet-name>
        <servlet-class>controle.tipo.RemoverTipoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormCategoriaServlet</servlet-name>
        <servlet-class>controle.tipo.FormTipoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutosServlet</servlet-name>
        <servlet-class>controle.pokemon.ListarPokemonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormProdutoServlet</servlet-name>
        <servlet-class>controle.pokemon.FormPokemonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvarProdutoServlet</servlet-name>
        <servlet-class>controle.pokemon.SalvarPokemonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverProdutoServlet</servlet-name>
        <servlet-class>controle.pokemon.RemoverPokemonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioServlet</servlet-name>
        <servlet-class>controle.acesso.InicioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SalvarCategoriaServlet</servlet-name>
        <url-pattern>/SalvarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirClienteServlet</servlet-name>
        <url-pattern>/InserirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarUsuarioServlet</servlet-name>
        <url-pattern>/AtualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverUsuarioServlet</servlet-name>
        <url-pattern>/RemoverUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerUsuarioServlet</servlet-name>
        <url-pattern>/VerUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCategoriasServlet</servlet-name>
        <url-pattern>/ListarCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverCategoriaServlet</servlet-name>
        <url-pattern>/RemoverCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormCategoriaServlet</servlet-name>
        <url-pattern>/FormCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutosServlet</servlet-name>
        <url-pattern>/ListarProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutosServlet</servlet-name>
        <url-pattern>/ListarPokemons</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormProdutoServlet</servlet-name>
        <url-pattern>/FormProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvarProdutoServlet</servlet-name>
        <url-pattern>/SalvarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverProdutoServlet</servlet-name>
        <url-pattern>/RemoverProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioServlet</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Inicio</welcome-file>
    </welcome-file-list>
</web-app>
